<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Sensordata Application</h1>
        <h2>Grafana Url</h2> 
        <a href="https://airquality.se.jku.at/grafana/">Visualize Data in Grafana</a>
         <!--
        <div class="section editor">
           
            <label for="container">Container
                <input id="container" type="text" />
            </label>
            <br />
            <label for="instance">Instance
                <input id="instance" type="text" />
            </label>
            <br />
            <label for="property">Property
                <input id="property" type="text" />
            </label>
            <br />
           
            <label for="value">Value
                <input id="value" type="text" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button> 
        </div>
        -->
        <div class="entry">
            <table>
                <caption>ActualSensorData</caption>
                <thead>
                    <tr>
                        <th>Container</th>
                        <th>Instance</th>
                        <th>Property</th>
                        <th>Time</th>
			<th>Value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>
