<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://airqualitydataprocessing20210127150158.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d977d030-30cf-4c2e-8bcf-144f287cefc9/resourceGroups/cdl_airquality/providers/Microsoft.Web/sites/AirQualityDataProcessing20210127150158</ResourceId>
    <UserName>$AirQualityDataProcessing20210127150158</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://airqualitydataprocessing20210127150158.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>